{% extends 'storage/base_shop.html'%}

{% block title%}
  Перелік товарів
{% endblock%}

{% block content%}
  <h1 class="mb-5">Товари:</h1>
  {% for product in products %}

    <div class="card mb-3">
      <div class="card-header">
        {{product.date_add}}

      </div>
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.body}}</<p>
        <a href="{{product.get_absolute_url}}" class="btn btn-primary offset-md-2">Перегляд</a>
      </div>
  </div>

  {% endfor%}
{% endblock%}
